<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.huashixingkong" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBar" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".activity.PersonalInformationActivity"
            android:label="@string/title_activity_personal_information" >
        </activity>
        <activity
            android:name=".activity.DiscussPageActivity"
            android:label="@string/title_activity_discuss_page" >
        </activity>
        <activity
            android:name=".activity.ModifyActivity"
            android:label="@string/title_activity_modify" >
        </activity>
        <activity
            android:name=".activity.SexChangeActivity"
            android:label="@string/title_activity_sex_change" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".activity.UpdatePasswordActivity"
            android:label="@string/title_activity_update_password" >
        </activity>
        <activity
            android:name=".activity.ActActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_act"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.ReplyActivity"
            android:label="@string/title_activity_reply" >
        </activity>
    </application>

</manifest>
